<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post form</title>
</head>
<body>
    <h1>New article</h1>
    <label>Title</label>
    <input id="title" type="text"><br>
    <label>Content</label>
    <input id="content" type="text"><br>

    <button id="submit">Submit</button>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script>
    var article = {title:'', content:''}
    $('#submit').click(function(){
        article.title = $("#title").val()
        article.content = $("#content").val()
        console.log(article)
        $.ajax({
            method: "POST",
            url: '/new_article',
            data:article
        }).done(function(response){
            console.log(response)
        }).fail(function(response){
            console.log(response)
        })
    })
    
    </script>
</body>
</html>